.main{
    background-color: #282c34;
    height: 100%;
    width:100%;
    
    .content{
        height: 100%;
        width:100%;
        margin:0;
        color:white;
        position: absolute;
        align-items: center;
        align-content: center;
        // display:flex;
        // justify-content: center;
    }

    .line {
        position: relative;
        top: 50%;
        width: 16em;
        margin: 0 auto;
        border-right: 2px solid rgba(255, 255, 255, 0.75);
        text-align: center;
        white-space: nowrap;
        overflow: hidden;transform: translateY(-50%);
    }

    .noselect {
        -webkit-touch-callout: none; /* iOS Safari */
          -webkit-user-select: none; /* Safari */
           -khtml-user-select: none; /* Konqueror HTML */
             -moz-user-select: none; /* Old versions of Firefox */
              -ms-user-select: none; /* Internet Explorer/Edge */
                  user-select: none; /* Non-prefixed version, currently
                                        supported by Chrome, Edge, Opera and Firefox */
      }
}

/*Animation*/

.anim-typewriter {
    animation: typewriter 5s steps(40) 1s 1 normal both,
    blinkTextCursor 500ms steps(40) 10 normal;
}

@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 8.5em;
    }
}


@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}

#particles-js ::ng-deep .particles-js-canvas-el {
  position: absolute !important;
  z-index: 1 !important;
 }

 //* { z-index: 2; }